<div class="instruction col-md-6" id="instruction-<%= loop.id %>" data-toggle="collapse"  data-target="#sub-instructions-<%= loop.id %>" aria-expanded="false" aria-controls="sub-instructions-<%= loop.id %>" >
  <div class="name">
    <%= loop.human_name %>
  </div>

</div>
<div class="collapse multi-collapse offset-md-1" id="sub-instructions-<%= loop.id %>">

</div>