<% sub_sequence_instance = Sequence.find(sub_sequence.sequence_id) %>

<div class="instruction col-md-6" id="instruction-<%= sub_sequence.id %>" data-toggle="collapse"  data-target="#sub-instructions-<%= sub_sequence.id %>" aria-expanded="false" aria-controls="sub-instructions-<%= sub_sequence.id %>" >
  <div class="name">
    <%= sub_sequence.human_name %>
  </div>
  <%= sub_sequence_instance.name %>

</div>
<div class="collapse multi-collapse offset-md-1" id="sub-instructions-<%= sub_sequence.id %>">
  <%= render sub_sequence_instance.instructions %>
</div>