<%= form_for @reset do |f| %>
  <div class="row">
    <div class="robot-controls" style="position: fixed; z-index: 1000">
      <%= f.submit "Save", class: 'btn btn-primary btn-lg' %>
      <%= f.submit "Start", class: 'btn btn-success btn-lg' %>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-3">
    </div>
    <div class="col col-sm-9 ">
      <div class="form-group range-update">
        <%= f.label "Home" %>
        <%= f.number_field :home, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "X" %>
        <%= f.number_field :x, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Fermer" %>
        <%= f.number_field :delay_1, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Commencer le jeu" %>
        <%= f.number_field :delay_2, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Choisir le joueur" %>
        <%= f.number_field :delay_3, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Choisir la manette 1" %>
        <%= f.number_field :delay_4, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Choisir la manette 2" %>
        <%= f.number_field :delay_5, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Choisir la manette 3" %>
        <%= f.number_field :delay_6, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Choisir la manette 4" %>
        <%= f.number_field :delay_7, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Main menu" %>
        <%= f.number_field :delay_8, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Continue" %>
        <%= f.number_field :delay_9, class:"form-control col-2" %>
      </div>

    </div>
  </div>
<% end %>
