<%= form_for @starter do |f| %>
  <div class="row">
    <div class="robot-controls" style="position: fixed; z-index: 1000">
      <%= f.submit "Save", class: 'btn btn-primary btn-lg' %>

      <%= f.submit "Start", class: 'btn btn-success btn-lg', disabled: $trash.busy? %>
      <%= f.submit "Reset", class: 'btn btn-success btn-lg', disabled: $trash.busy? %>
      <%= f.submit "Stop", class: 'btn btn-danger btn-lg', disabled: !$trash.busy? %>

      <div class="starter-counts" >
        <h2 class="total">Total: <span class="number"><%= @starter.total_tries %></span></h2>
        <h2 class="chimcar_total">Chimchar: <span class="number"><%= @starter.chimchar_total %></span></h2>
        <h2 class="turtwig_total">Turtwig: <span class="number"><%= @starter.turtwig_total %></span></h2>
        <h2 class="piplup_total">Piplup: <span class="number"><%= @starter.piplup_total %></span></h2>
        <h2 class="current">En cours: <span class="number"><%= @starter.run_tries %></span></h2>
      </div>
      <div class="button-status">
        <span class="a inactive">A</span>
        <span class="x inactive">X</span>
        <span class="up inactive">Haut</span>
        <span class="right inactive">Droite</span>
        <span class="home inactive">Home</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-3">
    </div>
    <div class="col col-sm-9 ">
      <div style="position: relative; height: 480px">
      
        <canvas id="example" width="640" height="480" style="position: absolute;"></canvas>
        <img id="webcam" height="480" style="-webkit-user-select: none; position: absolute;" src="<%= Rails.env.production? ? '/webcam' : 'http://cr10s.local/webcam/?action=stream' %>"/>

        <%= image_tag 'aiming.png', style: "position: absolute;" %>
      </div>
      <h2 class="hue">Couleur: <span class="number"></span></h2>

      <br/>
      <br/>
      <br/>

      <div class="form-group mb-2">
        <%= f.label :pokemon %>
        <%= f.select :pokemon, ['Piplup', 'Turtwig', 'Chimchar'], {}, class:"form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label "Turtwig range" %>
        <div class="form-row">
          <%= f.number_field :turtwig_range_min, class:"form-control col-2" %>
          <%= f.number_field :turtwig_range_max, class:"form-control col-2" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Chimchar range" %>
        <div class="form-row">
          <%= f.number_field :chimchar_range_min, class:"form-control col-2" %>
          <%= f.number_field :chimchar_range_max, class:"form-control col-2" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Piplup range" %>
        <div class="form-row">
          <%= f.number_field :piplup_range_min, class:"form-control col-2" %>
          <%= f.number_field :piplup_range_max, class:"form-control col-2" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :delay_1, "Début de la séquence devant la forêt" %>
        <%= f.number_field :delay_1, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label :delay_2, "All right! To the lake!" %>
        <%= f.number_field :delay_2, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label :delay_3, "What's going on?" %>
        <%= f.number_field :delay_3, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Professor, there isn't" %>
        <%= f.number_field :delay_4, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Humm I may have been" %>
        <%= f.number_field :delay_5, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Something appears to be" %>
        <%= f.number_field :delay_6, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Fine! It's enough" %>
        <%= f.number_field :delay_7, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Dawn, we're leaving" %>
        <%= f.number_field :delay_8, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Professor, how are youy" %>
        <%= f.number_field :delay_9, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "It must be" %>
        <%= f.number_field :delay_10, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Hum.. there is one" %>
        <%= f.number_field :delay_11, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "There are" %>
        <%= f.number_field :delay_12, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Tour studies." %>
        <%= f.number_field :delay_13, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Excuse me" %>
        <%= f.number_field :delay_14, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "I beg you pardon" %>
        <%= f.number_field :delay_15, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What was that about" %>
        <%= f.number_field :delay_16, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Huh? Laurent!" %>
        <%= f.number_field :delay_17, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label " ..." %>
        <%= f.number_field :delay_18, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What's that?" %>
        <%= f.number_field :delay_19, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "No problem" %>
        <%= f.number_field :delay_20, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "It's... a briefcase" %>
        <%= f.number_field :delay_21, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What are we supposed" %>
        <%= f.number_field :delay_22, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "I heard them say" %>
        <%= f.number_field :delay_23, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Waaaah! P-Pokémon" %>
        <%= f.number_field :delay_24, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What's going on?!" %>
        <%= f.number_field :delay_25, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Look! These are Poké Balls" %>
        <%= f.number_field :delay_26, class:"form-control col-2" %>
      </div>

      
      <div class="form-group range-update">
        <%= f.label "droite" %>
        <%= f.number_field :delay_27, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "droite" %>
        <%= f.number_field :delay_28, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Select" %>
        <%= f.number_field :delay_29, class:"form-control col-2" %>
      </div>   

      <div class="form-group range-update">
        <%= f.label "Yes" %>
        <%= f.number_field :delay_30, class:"form-control col-2" %>
      </div>     

      <div class="form-group range-update">
        <%= f.label "press yes" %>
        <%= f.number_field :delay_31, class:"form-control col-2" %>
      </div>  
    </div>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="shinyModal" tabindex="-1" role="dialog" aria-labelledby="shinyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="shinyModalLabel">Est-ce qu'on a un shiny?</h4>
      </div>
      <div class="modal-body">
        <img id="shinyIMG" src="" width=465/>
      </div>
      <div class="modal-footer">
        <%= link_to "Non", "#", method: :post, class: "btn btn-danger false-positive" %>
        <%= link_to "Oui c'est un shiny", "#", method: :post, class: "btn btn-primary confirm" %>
      </div>
    </div>
  </div>
</div>
