<%= form_for @starter do |f| %>
  <div class="row">
    <div class="robot-controls" style="position: fixed; z-index: 1000">
      <%= f.submit "Save", class: 'btn btn-primary btn-lg' %>
      <%= f.submit "Start", class: 'btn btn-success btn-lg' %>
      <%= link_to "Stop", stop_starter_path, method: :post, class: 'btn btn-danger btn-lg' %>

      <div class="starter-counts" >
        <h2 class="total">Total: <span class="number"><%= @starter.total_tries %></span></h2>
        <h2 class="chimcar_total">Chimchar: <span class="number"><%= @starter.chimchar_total %></span></h2>
        <h2 class="turtwig_total">Turtwig: <span class="number"><%= @starter.turtwig_total %></span></h2>
        <h2 class="piplup_total">Piplup: <span class="number"><%= @starter.piplup_total %></span></h2>
        <h2 class="current">En cours: <span class="number"><%= @starter.run_tries %></span></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-3">
    </div>
    <div class="col col-sm-9 ">
      <div style="position: relative; height: 480px">
        <img id="webcam" height="480" style="-webkit-user-select: none; position: absolute;" src="<%= Rails.env.production? ? request.protocol + request.host : 'http://raspberrypi.local' %>:8081"/>
        <%= image_tag 'aiming.png', style: "position: absolute;" %>
      </div>

      <br/>
      <br/>
      <br/>

      <div class="form-group mb-2">
        <%= f.label :pokemon %>
        <%= f.select :pokemon, ['Piplup', 'Turtwig', 'Chimchar'], {}, class:"form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label "Piplup range" %>
        <div class="form-row">
          <%= f.number_field :piplup_range_min, class:"form-control col-2" %>
          <%= f.number_field :piplup_range_max, class:"form-control col-2" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :delay_1, "Début de la séquence devant la forêt" %>
        <%= f.number_field :delay_1, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label :delay_2, "All right! To the lake!" %>
        <%= f.number_field :delay_2, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label :delay_3, "What's going on?" %>
        <%= f.number_field :delay_3, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Professor, there isn't" %>
        <%= f.number_field :delay_4, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Humm I may have been" %>
        <%= f.number_field :delay_5, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Something appears to be" %>
        <%= f.number_field :delay_6, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Fine! It's enough" %>
        <%= f.number_field :delay_7, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Dawn, we're leaving" %>
        <%= f.number_field :delay_8, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Professor, how are youy" %>
        <%= f.number_field :delay_9, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "It must be" %>
        <%= f.number_field :delay_10, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Hum.. there is one" %>
        <%= f.number_field :delay_11, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "There are" %>
        <%= f.number_field :delay_12, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Tour studies." %>
        <%= f.number_field :delay_13, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Excuse me" %>
        <%= f.number_field :delay_14, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "I beg you pardon" %>
        <%= f.number_field :delay_15, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What was that about" %>
        <%= f.number_field :delay_16, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Huh? Laurent!" %>
        <%= f.number_field :delay_17, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label " ..." %>
        <%= f.number_field :delay_18, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What's that?" %>
        <%= f.number_field :delay_19, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "No problem" %>
        <%= f.number_field :delay_20, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "It's... a briefcase" %>
        <%= f.number_field :delay_21, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What are we supposed" %>
        <%= f.number_field :delay_22, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "I heard them say" %>
        <%= f.number_field :delay_23, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Waaaah! P-Pokémon" %>
        <%= f.number_field :delay_24, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "What's going on?!" %>
        <%= f.number_field :delay_25, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Look! These are Poké Balls" %>
        <%= f.number_field :delay_26, class:"form-control col-2" %>
      </div>

      
      <div class="form-group range-update">
        <%= f.label "droite" %>
        <%= f.number_field :delay_27, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "droite" %>
        <%= f.number_field :delay_28, class:"form-control col-2" %>
      </div>

      <div class="form-group range-update">
        <%= f.label "Select" %>
        <%= f.number_field :delay_29, class:"form-control col-2" %>
      </div>   

      <div class="form-group range-update">
        <%= f.label "Yes" %>
        <%= f.number_field :delay_30, class:"form-control col-2" %>
      </div>     

      <div class="form-group range-update">
        <%= f.label "press yes" %>
        <%= f.number_field :delay_31, class:"form-control col-2" %>
      </div>  
    </div>
  </div>
<% end %>

