<div class="alolan-counts" >
  <h1>Alolan</h1>
  <h2 class="total">Total: <span class="number"><%= @alolan.total_tries %></span></h2>
  <h2 class="current">Current run: <span class="number"><%= @alolan.run_tries %></span></h2>
</div>
<hr />
<div class="fossil-counts" >
  <h1>Fossil</h1>
  <h2 class="total">Total: <span class="number"><%= @fossil.total_tries %></span></h2>
  <h2 class="current">Current run: <span class="number"><%= @fossil.run_tries %></span></h2>
</div>
<hr />
<div class="starter-counts" >
  <h1>Starter</h1>
  <h2 class="total">Total: <span class="number"><%= @starter.total_tries %></span></h2>
  <h2 class="chimcar_total">Chimchar: <span class="number"><%= @starter.chimchar_total %></span></h2>
  <h2 class="turtwig_total">Turtwig: <span class="number"><%= @starter.turtwig_total %></span></h2>
  <h2 class="piplup_total">Piplup: <span class="number"><%= @starter.piplup_total %></span></h2>
  <h2 class="current">En cours: <span class="number"><%= @starter.run_tries %></span></h2>
</div>