<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>T.R.A.S.H.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar  sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">T.R.A.S.H.</a>
        <div class="collapse navbar-collapse justify-content-between">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <%= link_to "Fossils", edit_fossil_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Alolan", edit_alolan_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Starters", edit_starter_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Séquences", sequences_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Shinies", shinies_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Vérifier", unsure_shinies_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav ">
            <li class="nav-item">
              <%= link_to "Stats", stats_path, class: "nav-link" %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                🔧
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Hardware", edit_hardware_path, class: "dropdown-item" %>
                <%= link_to "Reset sequence", edit_reset_path, class: "dropdown-item" %>
                <%= link_to "Tweets", tweet_templates_path, class: "dropdown-item" %>
                <%= link_to "Settings", edit_settings_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "update", update_path, method: :post, remote: true, class: "dropdown-item" %>
                <%= link_to "Reboot", reboot_path, method: :post, class: "dropdown-item" %>
                <%= link_to "Shut down", shut_down_path, method: :post, class: "dropdown-item" %>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
