<div class="page-header">
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item"><%= link_to "Annuler", @sequence, class: "nav-link btn btn-secondary" %></li>
  </ul>
  <h1>Éditer <%= @sequence.name %></h1>
</div>

<div class="row">

  <div class="col">
    <div class="instructions-list">
      <%= link_to "Start", sequence_start_path(@sequence), method: :post, remote: 'true', class: "btn btn-success" %>
      <%= link_to "Stop", sequence_stop_path(@sequence), method: :post, remote: 'true', class: "btn btn-danger" %>
      <br/>
      
      <br/>
      <div class="row">
        <div class="col">
          <ol class="list-group">
            <li class="list-group-item">
              <small><%= link_to "+ Ajouter une instruction", "#", class: "add-instruction text-secondary", data: { add_after: "" } %></small>
            </li>
            <% @sequence.instructions.each do |instruction| %>
              <li class="list-group-item instruction" id="instruction-<%= instruction.id %>">
                <%= render instruction %>
              </li>
              <li class="list-group-item">
                <small><%= link_to "+ Ajouter une instruction", "#", data: { add_after: instruction.id }, class: "add-instruction text-secondary" %></small>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="col col-md-4">
    <div class="card">
      <div class="card-header">
        Général
      </div>
      <div class="card-body">
        <%= form_for @sequence do |f| %>
          <div class="form_group">
            <%= f.label :name, "Nom" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <br/>
          <div>
            <%= f.submit "Enregistrer", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <br/>
    <div class="card">
      <div class="card-header">
        Registres
      </div>
      <div class="card-body">
        <% @sequence.registers.each do |register| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= register.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= register.description %></h6>
                <p><%= register.value %></p>
              <button class="btn btn-primary">Modifier</button>
              <button class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <a href="#" class="text-primary">+ Créer un registre</a>
      </div>
    </div>
  </div>
</div>

</div class="row">
  </div class="col">
    <%= link_to "Supprimer la séquence", @sequence, method: :delete, data: { confirm: "Étes-vous sur de vouloir supprimer la séquence?" }, class: "btn btn-danger" %>
  </div>
</div>


<div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="instructionModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="instructionModalLabel">Ajouter une instruction</h4>
      </div>
      <div class="modal-body">
        <%= render "add_instruction_forms" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>