<div class="page-header">
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item"><%= link_to "Annuler", @sequence, class: "nav-link btn btn-secondary" %></li>
  </ul>
  <h1>Éditer <%= @sequence.name %></h1>
</div>

<%= form_for @sequence do |f| %>
  <div class="form_group">
    <%= f.label :name, "Nom" %>
    <br/>
    <%= f.text_field :name %>
  </div>

  <br/>
  <div>
    <%= f.submit "Enregistrer", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
<br/>
<h2>Ajouter des instructions</h2>
<h3>Attendre</h3>
<%= form_with model: Instruction::Wait.new, url: sequence_instructions_path(@sequence), method: 'post', remote: false do |f| %>
  <%= f.hidden_field :add_to, value: @sequence.instructions.last&.id %>
  <%= f.label :comment, "Description" %>
  <br/>
  <%= f.text_field :comment %>
  <br/>
  <%= f.label :time, "Milisecondes" %>
  <br/>
  <%= f.text_field :time %>
  <br/>
  <div>
    <%= f.submit "Ajouter l'instruction", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<h3>Bouton</h3>
<%= form_with model: Instruction::ButtonPress.new, url: sequence_instructions_path(@sequence), method: 'post', remote: false do |f| %>
  <%= f.hidden_field :add_to, value: @sequence.instructions.last&.id %>
  <%= f.label :label %>
  <br/>
  <%= f.select :label, ['a', 'x', 'up', 'right', 'home'], {} %>

  <br/>
  <div>
    <%= f.submit "Ajouter l'instruction", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>