<div class="page-header">
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item"><%= link_to "Modifier la séquence", edit_sequence_path, class: "nav-link btn btn-primary" %></li>
  </ul>
  <h1><%= @sequence.name %></h1>
</div>

<div class="starter-counts" >
  <h2 class="total">Nombre total de tentatives: <span class="number"><%= @sequence.total_attempts_count %></span></h2>
  <h2 class="current">Tentative #<span class="number"><%= @sequence.current_run_number %></span></h2>
</div>
<div class="button-status">
  <span class="a inactive">A</span>
  <span class="x inactive">X</span>
  <span class="up inactive">Haut</span>
  <span class="right inactive">Droite</span>
  <span class="home inactive">Home</span>
</div>
<br/>
<br/>
<div class="instructions-list">
  <%= link_to "Start", sequence_start_path(@sequence), method: :post, remote: 'true', class: "btn btn-success" %>
  <% @sequence.instructions.each do |instruction| %>
    <%= render instruction %>
  <% end %>
</div>