<div class="page-header">
  <ul class="nav nav-pills justify-content-end">
    <li class="nav-item"><%= link_to "Modifier la séquence", edit_sequence_path, class: "nav-link btn btn-primary" %></li>
  </ul>
  <h1><%= @sequence.name %></h1>
</div>

<div class="button-status">
  <span class="a inactive">A</span>
  <span class="x inactive">X</span>
  <span class="up inactive">Haut</span>
  <span class="right inactive">Droite</span>
  <span class="home inactive">Home</span>
</div>
<br/>
<br/>
<div class="instructions-list">
  <div class="row">
    <div class="col">
      <%= link_to "Start", sequence_start_path(@sequence), method: :post, remote: 'true', class: "btn btn-success" %>
      <%= link_to "Stop", sequence_stop_path(@sequence), method: :post, remote: 'true', class: "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <% @sequence.instructions.each do |instruction| %>
          <li class="list-group-item instruction" id="instruction-<%= instruction.id %>">
            <%= render instruction %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col col-md-4">
      <% @sequence.registers.each do |register| %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= register.name %>: <%= register.value %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= register.description %></h6>
          </div>
        </div>
        <br />
      <% end %>
    </div>
  </div>
</div>